.widget {
  min-width: 120px;
  flex-grow: 1;
  font-weight: bold;
  margin: $spacing-small;
  border: solid 1px $outline-color;
  padding: $spacing-large $spacing-unit;
  border-radius: $content-border-radius;

  & .title {
    font-size: $font-size-base;
    color: $primary-color;
    line-height: 1.5em;
  }
}

.value {
  color: $text-color;
  font-size: $font-size-large;
  line-height: 1.5em;
  margin: 0;
}
