@use 'sass:color';

.surf-spot-container {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch; /* Smooth scrolling for mobile */
  font-size: $font-size-small;
  @include horizontal-scrollbar(4px, $scrollbar-color, darken($scrollbar-color, 10%));
}

.surf-spot-table {
  max-width: 100%;
  width: 100%;
  border-collapse: collapse;
  margin-bottom: $spacing-small;
  overflow-x: scroll;
}

.surf-spot-table th,
.surf-spot-table td {
  padding: $spacing-small;
  text-align: left;
  white-space: nowrap;
}

.surf-spot-table thead tr {
  border-bottom: solid 2px $outline-color;
}

.surf-spot-table tr {
  border-bottom: solid 1px $outline-color;
}

.surf-spot-table tbody tr {
  &:hover {
    color: color.adjust($primary-color, $lightness: 15%);
    cursor: pointer;
  }
}

td.center-td,
th.center-td {
  text-align: center;
}
