header {
  text-align: center;
  border-bottom: solid 1px $outline-color;
  padding-left: $spacing-unit;
  height: $header-height;

  @media (max-width: 752px) {
    padding-left: $spacing-small;
  }

  .logo {
    cursor: pointer;
    padding-bottom: 4px;

    & img {
      height: $header-height;
    } 
  }
}
