header {
  text-align: center;
  border-bottom: solid 1px $outline-color;
  padding-left: $spacing-unit;

  @media (max-width: 752px) {
    padding-left: $spacing-small;
  }

  .logo {
    cursor: pointer;
    gap: $spacing-small;

    & h2 {
      color: $primary-color;
      margin-bottom: $spacing-small;
      font-family: $font-family-logo;
    }
  }
}
