form {
  width: 100%;
}

.form-submit {
  margin-top: $spacing-large;
}

.form-item {
  @extend %flex-base;
  flex-direction: column;
  width: 100%;

  & label {
    font-size: $font-size-small;
    margin-left: $spacing-small;
    opacity: 0;
    transform: translateY(-$spacing-small); // Starts slightly above
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;

    &.visible {
      opacity: 1;
      transform: translateY(0); // Moves to its final position
    }
  }
}

input,
textarea,
select {
  width: 100%;
  border: 1px solid $outline-color;
  border-radius: $form-border-radius;
  padding: $spacing-small;

  &:disabled {
    background: $disabled-color;
    opacity: 0.4;
  }
}

input[type="checkbox"] {
  width: auto;
  margin-left: $spacing-unit;
  cursor: pointer;
}

textarea {
  resize: vertical; /* Allow vertical resize */
  min-height: 100px; /* Give the textarea a reasonable default height */
}

input:focus,
textarea:focus,
select:focus {
  border-color: $focus-color;
  box-shadow: 0 0 4px rgba(0, 119, 182, 0.5);
  outline: none;
}

.form-item.error {
    input,
    textarea,
    select {
      border-color: $outline-color;
      box-shadow: 0 0 4px $error;
      outline: none;
    }
}

.form-status-container {
  min-height: 24px;
}

.form-success {
  display: inline-block;
  color: $success;
  opacity: 1;
  transition: opacity 1s ease;
  margin-left: $spacing-small;
}

.form-error {
  display: inline-block;
  color: $error;
  font-size: $font-size-small;
  margin-left: $spacing-small;
}

.form-inline {
  @extend %flex-base;
  gap: $spacing-unit;
}

.disclaimer {
  font-size: $font-size-small;
  margin-top: $spacing-small;
}
