form {
  width: 100%;
}

.form-submit {
  margin-top: $spacing-large;
}

.form-item {
  @extend %flex-base;
  flex-direction: column;
  width: 100%;
  padding-top: $spacing-small;
  text-align: start;

  &.no-top-padding {
    padding-top: 0;
  }

  & label {
    font-size: $font-size-small;
    margin-left: $spacing-small;
    opacity: 0;
    transform: translateY(-$spacing-small); // Starts slightly above
    transition:
      opacity 0.3s ease-in-out,
      transform 0.3s ease-in-out;

    &.visible {
      opacity: 1;
      transform: translateY(0); // Moves to its final position
    }
  }

  & .form-error {
    margin-left: $spacing-small;
  }
}

input,
textarea,
select {
  width: 100%;
  border: 1px solid $outline-color;
  border-radius: $form-border-radius;
  padding: $spacing-small;
  font-size: $font-size-base;
  line-height: 1.5;
  box-sizing: border-box;
  height: $form-input-height;

  &:disabled {
    background: $disabled-color;
    opacity: 0.4;
  }
}

select {
  appearance: auto; // Restore the default browser styles for dropdowns
  padding-right: $spacing-small;
  background-color: $background-color;
  cursor: pointer;
}

input[type='checkbox'] {
  width: auto;
  margin-left: $spacing-unit;
  cursor: pointer;

  &:checked {
    accent-color: $primary-color;
  }
}

textarea {
  resize: vertical; // Allow vertical resizing only
  min-height: 100px; // Set a reasonable default height for textareas
}

input:focus,
textarea:focus,
select:focus {
  border-color: $focus-color;
  box-shadow: 0 0 4px rgba(0, 119, 182, 0.5);
  outline: none;
}

.form-item.error {
  input,
  textarea,
  select {
    border-color: $outline-color;
    box-shadow: 0 0 4px $error;
    outline: none;
  }
}

.form-status-container {
  min-height: 24px;
}

.form-success {
  display: inline-block;
  color: $success;
  opacity: 1;
  transition: opacity 1s ease;
}

.form-error {
  display: inline-block;
  color: $error;
  font-size: $font-size-small;
}

.form-inline {
  @extend %flex-base;
  align-items: flex-start;
  gap: $spacing-small;
  flex-wrap: wrap;

  @media (max-width: 768px) {
    flex-direction: column;
  }
}

.direction-selector-wrapper {
  flex: 1;
  min-width: 0;

  @media (max-width: 768px) {
    width: 100%;
  }
}

.disclaimer {
  font-size: $font-size-small;
  margin-top: $spacing-small;
}
