form {
  width: 100%;

  label {
    margin-bottom: $spacing-small;
  }
}

.form-item {
  @extend %flex-base;
  flex-direction: column;
  padding-top: $spacing-unit;
  width: 100%;

  & label {
    font-size: $font-size-small;
    margin-left: $spacing-small;
  }
}

input,
textarea,
select {
  width: 100%;
  border: 1px solid $outline-color;
  border-radius: $form-border-radius;
  padding: $spacing-small;
}

textarea {
  resize: vertical; /* Allow vertical resize */
  min-height: 100px; /* Give the textarea a reasonable default height */
}

input:focus,
textarea:focus,
select:focus {
  border-color: $focus-color;
  box-shadow: 0 0 4px rgba(0, 119, 182, 0.5);
  outline: none;
}

.form-error {
  color: $error;
  font-size: $font-size-small;

  & p {
    margin: 0;
  }
}

.location-form {
  @extend %flex-base;
  gap: $spacing-small;
  flex-wrap: nowrap;
}
