/* _layout.scss */

.fill {
  width: 100%;
  height: 100%;
}

.w-full {
  width: 100%;
}

.h-full {
  height: 100%;
}

.gap {
  gap: $spacing-unit;
}

.border {
  border: solid 1px $outline-color;
  border-radius: $content-border-radius;
}

/* Base Flexbox Utilities */
%flex-base {
  display: flex;
}

%flex-center {
  @extend %flex-base;
  justify-content: center;
  align-items: center;
}

%flex-column {
  @extend %flex-base;
  flex-direction: column;
}

%flex-row {
  @extend %flex-base;
  flex-direction: row;
}

%flex-space-between {
  @extend %flex-base;
  justify-content: space-between;
  align-items: center;
}

%flex-space-around {
  @extend %flex-base;
  justify-content: space-around;
  align-items: center;
}

%flex-start {
  @extend %flex-base;
  justify-content: start;
}

%flex-end {
  @extend %flex-base;
  justify-content: end;
}

%flex-wrap {
  @extend %flex-base;
  flex-wrap: wrap;
}

/* Flexbox Utilities */
.row {
  @extend %flex-row;
  width: 100%;
  flex-wrap: wrap;
}

.column {
  @extend %flex-column;
}

.center {
  @extend %flex-center;
}

.center-horizontal {
  @extend %flex-base;
  justify-content: center;
}

.center-vertical {
  @extend %flex-base;
  align-items: center;
}

.space-between {
  @extend %flex-space-between;
}

.space-around {
  @extend %flex-space-around;
}

.flex-start {
  @extend %flex-start;
}

.flex-end {
  @extend %flex-end;
}

.flex-1 {
  flex: 1;
}

.content {
  padding: 0;

  @media (max-width: 670px) {
    padding: 0 $spacing-unit;
  }
}

.content-container {
  @extend %flex-column;
  flex: 1;
  margin-bottom: $spacing-unit;
  @include container(
    100%,
    640px,
    840px
  ); // Full width on mobile, 640px on tablet, 960px on desktop
}

.card {
  box-shadow: $box-shadow;
  background: $white;
  padding: $spacing-unit;
  margin: $spacing-unit 0;
  border-radius: $content-border-radius;
}

.scroll {
  overflow-y: auto;
}

.p {
  padding: $spacing-unit;
}

.m {
  margin: $spacing-unit;
}

.pv {
  padding: $spacing-unit 0;
}

.pv-l {
  padding: $spacing-large 0;
}

.ph {
  padding: 0 $spacing-unit;
}

.pt {
  padding-top: $spacing-unit;
}

.pb {
  padding-bottom: $spacing-unit;
}

.mv {
  margin: $spacing-unit 0;
}

.mh {
  margin: 0 $spacing-unit;
}

.mh-s {
  margin: 0 $spacing-small;
}

.mt {
  margin-top: $spacing-unit;
}

.mt-s {
  margin-top: $spacing-small;
}

.mb {
  margin-bottom: $spacing-unit;
}

.m-0 {
  margin: 0;
}

.center-text {
  text-align: center;
}

.border-top {
  border-top: solid 1px $outline-color;
}
