// Import route-specific styles
@import 'routes/shared';
@import 'routes/landing';
@import 'routes/surf-spot-details';
@import 'routes/surfed-spots';
@import 'routes/watchlist';
@import 'routes/trips';
@import 'routes/surfboards';
@import 'routes/settings';
@import 'routes/contact';
@import 'routes/skill-levels';