.toolbar {
  padding: $spacing-unit 0;
  border-bottom: solid 1px $outline-color;

  @media (max-width: 670px) {
    padding: $spacing-unit;
  }
}

.login-nav {
  @extend %flex-base;
  margin: 0 $spacing-unit;
  gap: $spacing-unit;
}

.login-options {
  @extend %flex-column;
  padding-top: $spacing-large;
  gap: $spacing-small;
}

.sign-up-cta {
  gap: $spacing-small;

  .sign-up {
    color: $accent-color;
    text-decoration: underline;
  }
}

.list-map {
  @extend %flex-base;
  flex-wrap: wrap;
  align-items: center;

  & a {
    padding-bottom: $spacing-unit;
    padding-right: $spacing-unit;
  }
}

.spot-details {
  @extend %flex-row;
  justify-content: space-around;
  align-items: center;
  gap: 0 $spacing-unit;
  border: solid 1px $outline-color;
  border-radius: $content-border-radius;
  padding: $spacing-unit;

  & p {
    margin-bottom: 0;
  }
}

.spot-actions {
  margin-bottom: $spacing-unit;
  @media (max-width: 640px) {
    width: 100%;
  }
}
