.list-item {
  padding-bottom: $spacing-small;
}

.list-map {
  @extend %flex-base;
  flex-wrap: wrap;
  align-items: center;

  & a {
    padding-bottom: $spacing-unit;
    padding-right: $spacing-unit;
  }
}

.spot-details {
  @extend %flex-row;
  justify-content: space-around;
  align-items: center;
  border: solid 1px $outline-color;
  border-radius: $content-border-radius;
  padding: $spacing-large $spacing-unit;

  & p {
    margin-bottom: 0;
  }
}

.spot-actions {
  margin-bottom: $spacing-unit;
  @media (max-width: 640px) {
    width: 100%;
  }
}

.surfed-spots-overview {
  & p {
    font-size: $font-size-large;

    &.value {
      font-size: $font-size-x-large;
      font-weight: 600;
    }
  }
}

.surfed-spots-overview-secondary {
  justify-content: space-around;
  align-items: center;
}
