/* _typography.scss */

body {
  font-family: $font-family-base;
  font-size: $font-size-base;
  color: $text-color;
  background-color: $background-color;
}

/* Headings */
h1,
h2,
h3 {
  letter-spacing: 0; /* Slightly tight for impact */
  color: $text-heading;
}

/* Body Text */
button,
p {
  letter-spacing: 0.02em; /* Neutral or slightly loose */
}

/* Small Text */
.breadcrumb-link,
.breadcrumb-current {
  letter-spacing: 0.03em; /* Looser for readability */
}

/* All Caps */
.button {
  letter-spacing: 0.05em; /* Spacious for clarity */
  text-transform: uppercase;
}

h1,
h2,
h3,
h4 {
  color: $text-heading;
  line-height: 1.4;
  font-family: $font-family-heading;
}

h1,
h2 {
  margin-bottom: $spacing-unit;
}

h1 {
  font-size: 2.25rem;
}

h2 {
  font-size: 2rem;
}

h3,
h4 {
  margin-bottom: $spacing-small;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.5rem;
}

p {
  margin-bottom: $spacing-small;
  font-size: $font-size-base;
}

a {
  color: $primary-color;
  text-decoration: underline;

  &:hover {
    color: $accent-color;
  }
}

.bold {
  font-weight: 600;
}

.font-small {
  font-size: $font-size-small;
}

.font-x-small {
  font-size: $font-size-x-small;
}
