/* _typography.scss */

@font-face {
  font-family: 'Agbalumo';
  src: url('./../../fonts/Agbalumo.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: $font-family-base;
  font-size: $font-size-base;
  color: $text-color;
  background-color: $background-color;
}

h1,
h2 {
  font-family: $font-family-heading;
  color: $heading-color;
  margin-bottom: $spacing-small;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.75rem;
}

h3 {
  font-size: 1.5rem;
  color: $primary-color;
}

h4 {
  font-size: 1.25rem;
}

p {
  margin-bottom: $spacing-unit;
  font-size: $font-size-base;
}

a {
  color: $primary-color;
  &:hover {
    color: $accent-color;
  }
}
