// _fonts.scss
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Quicksand:wght@400;700&display=swap');

/* Color Palette */
$primary-color: #046380;
$secondary-color: #20c6f8;
$white: #ffffff;
$black: #000000;
$background-color: $white;
$text-color: #0d1619;
$outline-color: #d9d9d9;
$heading-color: $primary-color;
$accent-color: #3fc1c9;
$focus-color: #046380;
$disabled-color: #d7d7d7;
$disabled-text-color: #545454;
$text-hover-background: #f0f4f8;

$success: green;
$warn: #fdff00;
$error: red;

$scrollbar-color: #d9d9d9;

/* Typography */
$font-family-base: 'Roboto', 'Open Sans', sans-serif;
$font-family-heading: 'Agbalumo', 'Lobster', cursive;

$font-size-base: 1rem; // 16px
$font-size-x-small: 0.75rem; // 12px
$font-size-small: 0.875rem; // 14px
$font-size-large: 1.25rem; // 20px
$font-size-x-large: 1.5rem; // 24px

/* Spacing */
$spacing-unit: 1rem; // 16px base spacing
$spacing-small: 0.5rem;
$spacing-large: 2rem;

$header-height: 48px;

/* Borders & Shadows */
$form-border-radius: $spacing-unit;
$content-border-radius: $spacing-unit;
$circle-border-radius: 50%;
$button-border-radius: 25px;
$box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.2);

:root {
  --primary-color: #046380;
  --accent-color: #3fc1c9;
}
