/* main.scss */

// Import order matters
@import 'reset';
@import 'variables';
@import 'mixins';
@import 'typography';
@import 'layout';
@import 'form';
@import 'components';
@import 'routes';

/* Base Styles */

body {
  background: $background-color;
}

.description {
  margin: $spacing-large 0;

  &.alternate {
    max-width: 480px;
    font-size: $font-size-large;
    text-align: center;
  }
}

/* Global Utilities */

.hidden {
  display: none;
}
