/* main.scss */

// Import order matters
@import 'reset';
@import 'variables';
@import 'mixins';
@import 'typography';
@import 'layout';
@import 'form';
@import 'components';
@import 'routes';

/* Base Styles */

body {
  @extend %flex-column;
  background: $background-color;
}

section {
  height: 100%;
  width: 100%;
}

.description {
  margin: $spacing-unit 0;
  margin-bottom: $spacing-large;

  &.alternate {
    max-width: 480px;
    font-size: $font-size-large;
    text-align: center;
    margin: $spacing-large 0;
  }
}

/* Global Utilities */

.hidden {
  display: none;
}
