.details {
  @extend %flex-base;
  gap: $spacing-small;
  padding-right: $spacing-unit;
  align-items: center;

  & p {
    margin: 0;
  }

  .label {
    font-weight: bold;
  }

  .value {
    font-weight: 500;
  }
}
