.auth-cta {
  @extend %flex-base;
  gap: $spacing-small;

  & p,
  a {
    margin: 0;
    font-size: $font-size-small;
  }
}

.auth-title {
  & h1 {
    font-size: $font-size-xx-large;
    margin: 0;
    text-align: center;
  }
}

.auth-layout {
  @extend %flex-row;
  width: 100%;
  height: 100%;

  &.reversed {
    flex-direction: row-reverse;
  }
}

.auth-options {
  @extend %flex-column;
}

.auth-content {
  @extend %flex-column;
  position: relative;
  width: 100%;
  max-width: 420px;
  padding-top: $spacing-unit;
  padding-bottom: $spacing-large;

  & footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
  }
}

.auth-copyright {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: $spacing-small 0;

  p {
    margin: 0;
    font-size: $font-size-x-small;
    color: $text-color;
  }
}

.auth-hero {
  @extend %flex-center;
  flex-direction: column;
  @include hero-background;
}

@media (max-width: 1008px) {
  .auth-hero {
    display: none;
  }
}

.sign-in-nav {
  @extend %flex-base;
  align-items: center;
  margin: 0 $spacing-unit;
  gap: $spacing-small;
}

.guest-link {
  font-size: $font-size-small;
  margin-bottom: $spacing-unit;
}
