.page {
  @extend %flex-column;
  flex: 1;
  border: none;
}

footer {
  text-align: center;
  font-size: $font-size-x-small;
  padding-top: $spacing-large;
  padding-bottom: $spacing-small;
  width: 100%;
}

footer.alternate,
.page.alternate {
  color: $white;
  background: $primary-color;

  & h1,
  h2,
  h3 {
    color: $white;
  }
}
