.page {
  @extend %flex-column;
  flex: 1;
  border: none;
  min-height: 100vh;
}

.page-content {
  width: 100%;
  padding: 0 $spacing-unit;
  max-width: 560px;
  min-height: calc(100vh - $header-height);

  @media (min-width: 1440px) {
    max-width: 840px;
  }
}

footer {
  text-align: center;
  font-size: $font-size-x-small;
  padding-top: $spacing-large;
  padding-bottom: $spacing-small;
  width: 100%;
}

footer.alternate,
.page.alternate {
  color: $white;
  background: $primary-color;

  & h1,
  h2,
  h3 {
    color: $white;
  }
}
