@use 'sass:color';

.surf-spot-preview {
  width: 100%;
  box-sizing: border-box;

  .surf-spot-preview-content {
    padding: $spacing-unit $spacing-large;
    font-size: $font-size-small;
    line-height: 1.5;
    padding-bottom: $spacing-x-large;
  }

  .preview-section {
    padding-bottom: $spacing-unit;

    .details {
      margin-bottom: 2px;
      padding: 2px 0;

      .label {
        font-size: $font-size-x-small;
        color: $text-secondary;
        min-width: 90px;
      }

      .value {
        font-size: $font-size-small;
        color: $text-color;
      }
    }

    .condition-item {
      display: flex;
      align-items: center;
      gap: $spacing-small;
      margin-bottom: $spacing-small;
      padding: 2px 0;
    }
  }

  .preview-subtitle {
    font-size: $font-size-small;
    color: $text-heading;
    margin: $spacing-small 0 $spacing-small 0;
    padding-bottom: $spacing-small;
    border-bottom: 1px solid $outline-color;
  }

  .surf-spot-preview-link {
    cursor: pointer;
    font-size: $font-size-small;
    margin: 0 0 $spacing-large 0;
  }
}
