.menu {
  @extend %flex-base;
  position: relative;

  .desktop-menu {
    @extend %flex-base;
    cursor: pointer;

    ul {
      @extend %flex-base;
    }

    .nav-item {
      @extend %flex-base;
      align-items: center;
      gap: $spacing-small;
      padding: $spacing-unit;

      &:hover {
        background-color: $text-hover-background;
        color: adjust-color($text-color, $lightness: -10%);
        transform: scale(1.05);
        transition: transform 0.2s ease-in-out;
      }
    }
  }

  .menu-section {
    border-top: solid 1px $outline-color;
  }

  .menu-icon {
    margin-bottom: -4px;
  }

  .menu-item {
    @extend %flex-base;
    height: 56px;
    gap: $spacing-unit;
  }

  .dropdown-menu {
    position: absolute;
    top: 48px;
    right: 0;
    width: 280px;
    text-align: left;
    background-color: $white;
    box-shadow: $box-shadow;
    border: 1px solid $outline-color;
    border-radius: $content-border-radius;
    z-index: 10;

    ul {
      list-style: none;

      li {
        padding: $spacing-unit;
        cursor: pointer;

        &:hover {
          background-color: $text-hover-background;
        }
      }
    }
  }

  .hamburger-icon {
    display: none;
    flex-direction: column;
    cursor: pointer;
    padding: $spacing-unit;

    span {
      width: 24px;
      height: 2px;
      background-color: $primary-color;
      margin: 2px 0;
    }
  }

  .sidebar-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: calc(100% - $spacing-large);
    height: 100%;
    background: $white;
    z-index: 20;
    transform: translateX(-100%); /* Initially off-screen */
    transition: transform 0.3s ease; /* Smooth animation */

    &.active {
      transform: translateX(0); /* Slide into view */
      box-shadow: $box-shadow;
    }

    .sidebar-header {
      @extend %flex-end;
      padding: $spacing-unit;
      height: $header-height;
      align-items: center;
      border-bottom: solid 1px $outline-color;

      button {
        background: none;
        border: none;
        font-size: 18px;
        cursor: pointer;
      }
    }

    .sidebar-content {
      height: calc(100% - $header-height);
      overflow-y: auto;

      ul {
        list-style: none;
        padding: 0;

        li {
          padding: $spacing-unit;
          cursor: pointer;

          &:hover {
            background: $text-hover-background;
          }
        }
      }
    }
  }

  @media (max-width: 752px) {
    .desktop-menu {
      display: none;
    }

    .hamburger-icon {
      display: flex;
    }

    .dropdown-menu {
      display: none;
    }
  }
}
