.actions {
  @extend %flex-base;
  flex-wrap: wrap;
  width: 100%;

  button.text-button {
    flex-shrink: 0;
    flex-grow: 0;
    justify-content: flex-start; // Align content to left
  }

  @media (max-width: 640px) {

    button.text-button {
      padding: $spacing-small;
      width: auto; // Allow buttons to shrink on mobile
      min-width: auto;
    }
  }
}

.benefits-list {
  padding: 0;
  margin-top: -$spacing-unit;
  list-style-type: disc;
}

.benefits-list li {
  align-items: center;
  color: $primary-color;
  margin: $spacing-unit;
}
