.actions {
  @extend %flex-base;
  flex-wrap: wrap;

  @media (max-width: 640px) {
    gap: $spacing-large;

    button.text-button {
      padding: 0;
    }
  }

  @media (max-width: 430px) {
    justify-content: space-between;
    gap: $spacing-small;
  }
}
