button.text-button {
  @extend %flex-center;
  background: none;
  border: none;
  color: $primary-color;
  cursor: pointer;

  .text-button-icon {
    @extend %flex-center;
    padding: 4.5px;
    background: $primary-color;
    color: $white;
    border-radius: 50%;
    margin-right: 0.25rem;

    svg {
      width: $font-size-x-small;
      height: $font-size-x-small;
      stroke: $white;
      margin: -2px;
    }
  }

  &:hover,
  &:focus {
    text-decoration: underline;
    color: adjust-color($primary-color, $lightness: 10%);
    outline: none;

    & .text-button-icon {
      background: adjust-color($primary-color, $lightness: 10%);
    }
  }

  p {
    font-size: $font-size-x-small;
  }
}
