button.text-button {
  @extend %flex-center;
  background: none;
  border: none;
  cursor: pointer;
  padding: $spacing-small $spacing-unit;
  border-radius: $button-border-radius;

  .text-button-icon {
    @extend %flex-center;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    margin-right: $spacing-small;

    svg {
      width: $spacing-unit;
      height: $spacing-unit;
      stroke: none;
    }

    &.filled {
      background: $accent-color;
      color: $white;
      box-shadow: $box-shadow;

      & svg {
        stroke: $white;
      }
    }
  }

  &:hover {
    background-color: $text-hover-background;
    color: adjust-color($text-color, $lightness: -10%);
    transform: scale(1.02);
    transition: transform 0.2s ease-in-out;
  }

  p {
    font-size: $font-size-x-small;
  }
}
