.info-message {
  @extend %flex-center;
  padding: $spacing-unit;
  margin: $spacing-unit 0;
  border: solid 1px $outline-color;
  border-radius: $content-border-radius;
  gap: $spacing-small;
  align-items: flex-start;
}

.info-icon {
  @extend %flex-center;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  margin-top: 1px;
}

.info-content {
  flex-grow: 1;
  overflow-wrap: break-word;
  display: flex;
  align-items: center;
}
