.view-switch {
  cursor: pointer;
  border-radius: $button-border-radius;
  border: solid 1px $outline-color;
  box-shadow: $box-shadow;
  padding: $spacing-small $spacing-unit;

  &:hover {
    transform: scale(1.03);
    transition: transform 0.2s ease-in-out;
  }

  .view-switch-label {
    color: $disabled-color;
    transition: color 0.3s;

    &.active {
      color: $primary-color;
      font-weight: bold;
    }
  }

  .separator {
    margin: 0 $spacing-unit;
    border: solid 1px $outline-color;
  }
}
