.mapboxgl-popup-close-button {
  padding: 0 $spacing-unit;
  font-size: $font-size-x-large;
}

.pop-up-container {
  padding: 0 $spacing-small;

  .pop-up-title {
    color: $text-color;
    font-size: $font-size-large;
    padding-bottom: $spacing-small;
    border-bottom: 1px solid $outline-color;
  }

  & p {
    font-size: $font-size-small;
  }

  .pop-up-link {
    @extend %flex-end;
    text-decoration: none;
    cursor: pointer;
    color: $primary-color;
    font-size: $font-size-small;

    &:hover,
    &:focus {
      text-decoration: underline;
      color: adjust-color($primary-color, $lightness: 10%);
      outline: none;
    }
  }

  .pop-up-details {
    margin-top: $spacing-small;
    padding-top: $spacing-small;
  }

  .actions {
    font-size: $font-size-small;
    justify-content: space-between;
  }
}
