header {
  text-align: center;
  border-bottom: solid 1px $outline-color;
  padding: 0 $spacing-unit;

  .logo {
    cursor: pointer;
  }
}

footer {
  text-align: center;
  p {
    font-size: $font-size-x-small;
  }
}

.page {
  @extend %flex-base;
  flex-direction: column;
  min-height: 100vh;

  &.alternate {
    color: $white;
    background: $primary-color;
  }
}

.content {
  padding-top: $spacing-unit;
}
