/* Settings Page */
.settings-page {
  max-width: 600px;
  margin: 0 auto;
  padding: $spacing-large $spacing-unit;

  h1 {
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: $spacing-large;
  }

  h4 {
    font-size: $font-size-large;
    margin-bottom: $spacing-unit;
  }

  section {
    margin-bottom: $spacing-large;
  }
}
