.breadcrumb {
  .breadcrumb-list {
    @extend %flex-base;
    list-style: none;
    padding: 0;
    margin: 0;
    padding: $spacing-unit 0;
    margin-bottom: $spacing-large;
    border-bottom: solid 1px $outline-color;
    font-size: $font-size-small;
  }

  @media (max-width: 670px) {
    .breadcrumb-list {
      padding: $spacing-unit;
      font-size: $font-size-x-small;
    }
  }

  .breadcrumb-item:not(:last-child)::after {
    content: '>';
    margin: 0 $spacing-unit;
    color: $outline-color;
  }

  .breadcrumb-link {
    text-transform: capitalize;
    text-wrap: nowrap;
  }

  .breadcrumb-current {
    text-transform: capitalize;
    text-wrap: nowrap;
    padding-right: $spacing-small;
  }
}
